<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Change Font Size"
            visible="true"
            id="ch.unibe.iam.scg.fontsizebuttons.actionSet">
         <action
               class="ch.unibe.iam.scg.fontsizebuttons.actions.IncreaseFontSize"
               icon="icons/larger.gif"
               id="ch.unibe.iam.scg.fontsizebuttons.actions.IncreaseFontSize"
               label="&amp;Larger Font"
               toolbarPath="fontSizeGroup"
               tooltip="Larger font.">
         </action>
         <action
               label="&amp;Smaller Font"
               icon="icons/smaller.gif"
               class="ch.unibe.iam.scg.fontsizebuttons.actions.DecreaseFontSize"
               tooltip="Smaller Font"
               toolbarPath="fontSizeGroup"
               id="ch.unibe.iam.scg.fontsizebuttons.actions.DecreaseFontSize">
         </action>
      </actionSet>
   </extension>

</plugin>
